@import "reset.css";

body {
    background: rgb(223, 219, 211);
}

.wrapper {
    width: 80%;
    margin: 5% auto;
    padding: 2.5%;
    background: #fff;

    -webkit-box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.75);
}

.CodeMirror {
    border: 1px solid #ccc;
}
